# Python caches and stuff
__pycache__

# Constants file, get your own
constants.py

# File for experimenting
playground.py

# Anything that's supposed to be private
private*
*.json
media/*

# Committing the emojis is fine
!emoji.json