# Python caches
__pycache__

# Actual config file has secrets
/config.yaml
registration.yaml

# Experimenting various things, no need to commit
playground.py
private*

# Matrix state
mx-state.json

# Any databases
*.sqlite

# Message log
message.log